<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            {{convertToDate({dt:weatherDay.dt}) | date: dateFormat}}
        </h3>
    </div>
    <div class="panel-body">
        Daytime temperature: {{ convertToStandard({ daytimeTemp: weatherDay.temp.day }) }}
    </div>
</div>
