<p>
    <a href="#/">Back to search</a>
</p>

<h1>Forecast for {{city}}</h1>
<hr />
Days: <a href="#/forecast/2" ng-class="{ 'bg-primary': days === '2'}">2</a> | <a href="#/forecast/4" ng-class="{ 'bg-primary': days === '4'}">4</a> | <a href="#/forecast/6" ng-class="{ 'bg-primary': days === '6'}">6</a>
<hr />
<div ng-repeat="w in weatherResult.list">
    <div class="row">
        <div class="col-md-12">
            <weather-result weather-day="w" convert-to-standard="convertToCelcius(daytimeTemp)" convert-to-date="convertToDate(dt)" date-format="MMM d, y"></weather-result>
       </div>
    </div>
</div>